<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mars_arm">

  <xacro:arg name="robot_name" default="panda"/>
  <xacro:arg name="load_gripper" default="true"/>
  <xacro:arg name="load_gazebo" default="false"/>
  <xacro:arg name="use_gazebo_control" default="false"/>
  <xacro:arg name="connected_to" default=""/> <!-- If using a different frame with ${connected_to} param, make sure 'world' frame exists in the TF tree -->

  <xacro:include filename="$(find franka_panda_description)/robots/panda_arm.xacro"/>
  <xacro:if value="$(arg load_gazebo)">  
    <xacro:include filename="$(find franka_panda_description)/robots/panda.gazebo.xacro"/>
    <xacro:include filename="$(find franka_panda_description)/robots/panda.transmission.xacro"/>
    
    <xacro:panda_arm in_gazebo="true"  connected_to="$(arg connected_to)"/>
    <xacro:panda_gazebo robot_name="$(arg robot_name)" load_gripper="false"/>
    <xacro:panda_transmission robot_name="$(arg robot_name)" load_gripper="false" use_gazebo_control="$(arg use_gazebo_control)"/>
  </xacro:if>

  <xacro:include filename="$(find mars_arm_description)/urdf/mars_cam.urdf.xacro"/>
  <xacro:mars_cam robot_name="$(arg robot_name)"/>

  <xacro:include filename="$(find wsg_50_simulation)/urdf/wsg_50.urdf.xacro"/>
  <xacro:wsg_50_xacro name="$(arg robot_name)-gripper" parent="$(arg robot_name)_camlink" finger_length=".023" finger_tip="0">
  </xacro:wsg_50_xacro>
</robot>