[submodule "mars_sim/realsense_ros_gazebo"]
	path = mars_sim/realsense_ros_gazebo
	url = https://github.com/nilseuropa/realsense_ros_gazebo
[submodule "mars_sim/nist_board_gazebo"]
	path = mars_sim/nist_board_gazebo
	url = https://github.com/purdue-mars/nist_board_gazebo 
