[submodule "mars_sim/realsense_ros_gazebo"]
	path = mars_sim/realsense_ros_gazebo
	url = https://github.com/nilseuropa/realsense_ros_gazebo
[submodule "mars_sim/nist_board_gazebo"]
	path = mars_sim/nist_board_gazebo
	url = https://github.com/purdue-mars/nist_board_gazebo 
[submodule "third_party/detectron2_ros"]
	path = third_party/detectron2_ros
	url = https://github.com/raghavauppuluri13/detectron2_ros
[submodule "third_party/BundleTrack"]
	path = third_party/BundleTrack
	url = https://github.com/raghavauppuluri13/BundleTrack
[submodule "third_party/gelsight-ros"]
	path = third_party/gelsight-ros
	url = https://github.com/hmccarty/gelsight-ros
[submodule "mars_panda"]
	path = mars_panda
	url = https://github.com/purdue-mars/mars_panda
