<launch>
    <arg name="robot_id" />
    <arg name="wsg_config_file" default="wsg.yml"/>
    <arg name="gelsight_config_file" default="gelsight_$(arg robot_id).yml"/>
    <arg name="gelsight_en" default="true"/>
    <arg name="wsg_en" default="true"/>

    <group ns="$(arg robot_id)">
      <include file="$(find gelsight_ros)/launch/gelsight.launch" if="$(arg gelsight_en)">
        <arg name="config_file" value="$(arg gelsight_config_file)" />
      </include>

      <node name="wsg" pkg="wsg_50_driver" type="wsg_50_ip" if="$(arg wsg_en)">
        <rosparam file="$(find mars_config)/config/$(arg wsg_config_file)" command="load" subst_value="true" />
        <remap from="~$(arg robot_id)" to="~" />
      </node>
    </group>
</launch>