<launch>
    <arg name="robot_id" />

    <!-- tf_prefix_id = "robot_id" in URDF-->
    <arg name="tf_prefix_id" default="$(arg robot_id)"/>
    <arg name="gelsight_config_file" default="gelsight_$(arg robot_id).yml"/>
    <arg name="wsg_config_file" default="wsg_$(arg robot_id).yml"/>
    <arg name="gelsight_en" default="true"/>
    <arg name="wsg_en" default="true"/>

    <group ns="$(arg robot_id)">
      <node name="wsg" pkg="wsg_50_driver" type="wsg_50_ip" if="$(arg wsg_en)">
        <rosparam file="$(find mars_config)/config/gripper/$(arg wsg_config_file)" command="load" subst_value="true" />
        <param name="left_finger_joint" type="string" value="$(arg tf_prefix_id)_wsg_base_joint_gripper_left"/>
        <param name="right_finger_joint" type="string" value="$(arg tf_prefix_id)_wsg_base_joint_gripper_right"/>
        <param name="base_link" type="string" value="$(arg tf_prefix_id)_wsg_base_link"/>
      </node>

      <include file="$(find mars_launch)/launch/gelsight.launch" if="$(arg gelsight_en)">
        <arg name="config_file" value="$(arg gelsight_config_file)" />
        <arg name="tf_prefix_id" value="$(arg tf_prefix_id)"/>
      </include>
    </group>
</launch>