<launch>
    <!-- Perception robot base_id -->
    <arg name="robot_id" default="panda" />
    <arg name="registration_alg" default="ICP" />

    <param name="base_link" value="$(arg robot_id)_link0"/>

    <rosparam file="$(find mars_config)/config/perception/perception.yml" command="load" subst_value="true" />
    <rosparam ns="mesh_directory" file="$(find mars_config)/config/perception/mesh_directory.yml" command="load" subst_value="true" />

    <include file="$(find mars_perception)/launch/cameras.launch">
        <arg name="robot_id" value="$(arg robot_id)"/>
    </include>

    <node name="global_pc_processor" type="pc_processor" pkg="mars_perception" output="screen">
        <rosparam file="$(find mars_config)/config/perception/scene_registration.yml" command="load" />
    </node>

    <node name="object_pc_processor" type="pc_processor" pkg="mars_perception" output="screen">
        <rosparam file="$(find mars_config)/config/perception/object_registration.yml" command="load" />
    </node>

    <node name="registration_server" type="registration_server" pkg="mars_perception" output="screen">
        <param name="max_iterations" value="100" />
        <param name="alg" value="$(arg registration_alg)" />
        <rosparam file="$(find mars_config)/config/perception/object_registration.yml" command="load" />
    </node>

    <machine name="mars-linux-2" address="192.168.0.112" env-loader="~/mars_env.bash" user="ruppulur" default="true" />

    <include file="$(find mars_perception)/launch/detection.launch" />
</launch>