<launch>
    <arg name="ips" default="{pan_pan/robot_ip: 172.16.1.2, an_an/robot_ip: 172.18.1.2}"/>
    <arg name="root_id" default="combined_arms" />
    <param name="root_id" value="$(arg root_id)" />

    <group ns="$(arg root_id)">
        <include file="$(find dual_mars_arm_moveit_config)/launch/move_group.launch"/>
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mars_launch)/rviz/dual_config.rviz" />

        <node pkg="mars_control" name="planning_server" type="planning_server" output="screen">
            <param name="planning_group" value="$(arg root_id)"/>
        </node>

        <include file="$(find mars_launch)/launch/gripper.launch">
            <arg name="robot_id" value="pan_pan" />
        </include>

        <include file="$(find mars_launch)/launch/gripper.launch">
            <arg name="robot_id" value="an_an" />
        </include>

        <!-- LOAD CONTROLLER CONFIGS HERE-->
        <rosparam command="load" file="$(find icra18)/config/dual_controllers.yaml" /> 
    </group>

    <include file="$(find franka_control)/launch/mars_combined_control.launch">
        <arg name="robot_ips" value="$(arg ips)"/>
        <arg name="robot_id" value="$(arg root_id)" />
    </include>

    <!-- <include ns="perception" file="$(find mars_launch)/launch/perception.launch">
        <arg name="robot_id" value="pan_pan" />
    </include> -->
</launch>