<launch>
    <arg name="robot_ip" default="172.16.1.2" />
    <arg name="load_gripper" default="false" />
    <arg name="rviz" default="true" />
    <arg name="root_id" default="panda"/>
    <arg name="robot_id" default="pan_pan"/>

    <rosparam file="$(find mars_config)/config/robot_config.yml" command="load" subst_value="true" />

    <group ns="$(arg root_id)">
        <include file="$(find franka_control)/launch/franka_control.launch">
            <arg name="robot_ip" value="$(arg robot_ip)" />
            <arg name="load_gripper" value="$(arg load_gripper)" />
        </include>
        <rosparam command="load" file="$(find icra18)/config/controllers.yaml" /> 
        <include file="$(find panda_moveit_config)/launch/panda_moveit.launch">
            <arg name="load_gripper" value="$(arg load_gripper)" />
        </include>

        <include file="$(find mars_launch)/launch/gripper.launch">
            <arg name="robot_id" value="$(arg robot_id)" />
        </include>
        
        <include file="$(find mars_control)/launch/planning_server.launch" />

        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mars_launch)/rviz/config.rviz" />
    </group>

    <include ns="perception" file="$(find mars_launch)/launch/perception.launch"/>

</launch>